/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.s Main
        4.2.1 Introduction
        4.3 Footer
 */
/*    etc.*/
/*5. Media Queries*/
/*///////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

:root {
    --paars: #5722CD;
    --blauw: #4845E4;
    --roze: #ED4385;
    --zwart: #0C0C0C;
    --lichtpaars: #F2F0FF;
    --lichtgrijs: #F3F6F9;
    --grijs: #7A7A7A;
}

/* ------------------------------- 2. Typography ----------------------------------- */
//<weight > : Use a value from  300  to  900
//<uniquifier > : Use a unique and descriptive class name .merriweather-

<uniquifier > {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: < weight >;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

//<weight > : Use a value from 100 to 900
//<uniquifier > : Use a unique and descriptive class name .roboto-

<uniquifier > {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: < weight >;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

p {
    font-family: "Roboto", sans-serif;
    color: var(--zwart);
}

H1 H2 H3 H4 H5 H6 {
    font-family: "Merriweather", sans-serif;
    color: var(--zwart);
}

/* ------------------------------- 3. Layout --------------------------------------- */
.outer-box {
    border: 2px dotted var(--zwart);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.inner-box {
    border: 2px dotted greenyellow;
    flex-basis: 990px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

/* --------------- 4.2 Main ------------------------- */
div{
    border: 1px dashed blue;
}
article {
    border: 1px dashed red;
}
/* --------------- 4.2.1 Introduction ------------------- */


/* --------------- 4.3 Footer ------------------------- */


/* ------------------------------- 5. Media Queries -------------------------------- */
