/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.s Main
        4.2.1 Introduction
        4.3 Footer
 */
    /*    etc.*/
    /*5. Media Queries*/
/*///////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}
/* ------------------------------- 2. Typography ----------------------------------- */
// <weight>: Use a value from 300 to 900
// <uniquifier>: Use a unique and descriptive class name
.merriweather-<uniquifier> {
                   font-family: "Merriweather", serif;
                   font-optical-sizing: auto;
                   font-weight: <weight>;
                   font-style: normal;
                   font-variation-settings:
                           "wdth" 100;
               }

// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

    .roboto-<uniquifier> {
                 font-family: "Roboto", sans-serif;
                 font-optical-sizing: auto;
                 font-weight: <weight>;
                 font-style: normal;
                 font-variation-settings:
                         "wdth" 100;
             }
/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

/* --------------- 4.2 Main ------------------------- */

/* --------------- 4.2.1 Introduction ------------------- */


/* --------------- 4.3 Footer ------------------------- */



/* ------------------------------- 5. Media Queries -------------------------------- */
